---
interface Props {
  img: string;
  title: string;
  body: string;
  href: string;
}

const { img, href, title, body } = Astro.props;
---

<li class="link-card">
  <img src={img} alt={title} />
  <h3 class="h3-card">
    {title}
  </h3>
  <p>
    {body}
  </p>
  <a href={href}><span class="card-button">Voir le projet</span></a>
</li>
<style lang="scss">
  @import "../styles/config.scss";
  li {
    display: flex;
    flex-direction: column;
    background-color: $background-card;
    border-radius: 7px;
    max-width: 380px;

    & img {
      height: 300px;
      max-width: 100%;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      object-fit: cover;
      object-position: left top;
    }
    & h3 {
      font-size: 1.8rem;
      font-weight: bold;
      text-align: left;
      padding: 5px;
      color: white;
    }
    & p {
      color: white;
      text-align: left;
      font-size: 1.2rem;
      padding: 5px;
      margin: 5px;
    }
    & a {
      margin: 5px;
      padding: 5px 5px 12px;
      text-decoration: none;
      color: white;
      & .card-button {
        padding: 7px;
        background-color: $background-2;
        border-radius: 7px;
      }
    }
  }
</style>
