---
interface Props {
  img: string;
  title: string;
  body: string;
  href: string;
  technologies: { iconUrl: string; iconName: string }[];
}

// Déstructuration des propriétés passées au composant
const { img, href, title, body, technologies } = Astro.props as Props;
---

<li class="link-card">
  <img src={img} alt={title} class="card-image" />
  <h3 class="card-title">{title}</h3>
  <p class="card-body">{body}</p>
  <p>Techno utilisées</p>
  <div class="technologies">
    {
      technologies.map((tech) => (
        <img src={tech.iconUrl} alt={tech.iconName} class="tech-icon" />
      ))
    }
  </div>

  <a href={href} class="card-link">
    <span class="card-button">Voir le projet</span>
  </a>
</li>
<style lang="scss">
  @import "../styles/config.scss";
  li {
    display: flex;
    flex-direction: column;
    background-color: $background-card;
    border-radius: 7px;
    max-width: 380px;

    & .card-image {
      height: 300px;
      max-width: 100%;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      object-fit: cover;
      object-position: left top;
    }
    & h3 {
      font-size: 1.8rem;
      font-weight: bold;
      text-align: left;
      padding: 5px;
      color: white;
    }
    & p {
      color: white;
      text-align: left;
      font-size: 1.2rem;
      padding: 5px;
      margin: 5px;
    }
    & a {
      margin: 5px;
      padding: 5px 5px 12px;
      text-decoration: none;
      color: white;
      & .card-button {
        padding: 7px;
        background-color: $background-2;
        border-radius: 7px;
      }
    }
    & .technologies {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      column-gap: 10px;
      margin-bottom: 10px;
      padding: 5px;
      & .tech-icon {
        width: 48px;
        height: auto;
        max-width: 100%;
        max-height: 48px;
        object-fit: contain;
      }
    }
  }
</style>
